


<%= form_for(@task) do |f| %>


  <div class="card">
    <div class="card-category"> <%= @task.status%> </div>
    <div class="card-description">
      <p>Name: <%= f.text_field :name %></p>
      <p><%= f.text_area(:description, size: '50x5') %></p>
      <div class="edit-button">
        <button class="btn  btn-outline-success btn-sm">Add!</button>
      </div>
    </div>
  </div

<% end %>
